@use './variables' as *;
@use 'mixins' as *;


#hero-section{
    padding: 3.5rem;
    min-height: 70vh;
        @include mq(md) {
            padding: 0;
        }

}

.header {
    padding: 0;
    
    // Reset básico para mobile
       @include mq(md) {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        &__hero h1 {
            font-size: 7rem !important;
        }
        
        &__hero p {
            font-size: 2.3 !important;
        }
        
        ul {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
    }
    
    &__hero {
        h1{
            width: 100%;
            font-size: 5rem;
        }
        
        @include mq(md) {
            width: 100%;
            max-width: 1440px;
            height: 85vh;
            
            h1 {
                width: 300px;
                font-size: 10rem;
                text-align: justify;
                margin-bottom: 1rem;
            }

            p {
                width: 500px;
                font-size: 1.7rem;
                text-align: justify;
                margin-bottom: 1rem;
            }
        }
    }
    
    &__branding {
        @include mq(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__content {
        padding: 0;
        
        @include mq(md) {
            padding: 5rem;
        }
        &--rating{
          display: none;
          @include mq(md) {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 2rem;
            border-radius: 12px;
            top: 45%;
            right: 30%;
            width: 250px;
            background-color: $white-color;
            }
      }
     }
    
    &__menu {

        ul li{
              margin-left: 0;
        }

       

         ul li a {
                font-size: 1.7rem;
                font-weight: bold;
                color: black;
            }
        @include mq(md) {
            padding: 3rem;
            
            ul{
                display: flex;
            }

            ul li{
                 margin-left: 1rem;
            }
            
            ul li a {
                font-size: 2rem;
                font-weight: bold;
                color: black;
               
            }
        }
    }
}

.header__call-to-action{
    margin-top: 3rem;
    a{
        
        background-color: var(--primary-color, $primary-color);
        padding: 1rem 2rem;
        border-radius: 12px;
        font-size: 1.4rem;
        text-decoration: none;
        
        &:hover {
            background-color: var(--white-color, $white-color);
            color: var(--primary-color, $primary-color);
            transition: .3s ease-in-out;
        }
    }
}